<a href="https://colab.research.google.com/github/Farhan-Hafizi/Assignments/blob/main/python_1st_assignment(11_7).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment Data Science Tools

## **Muhammad Farhan Hafizi bin Abdul Rodzi**

Data Analyst

*I want to be data analyst because I want to change my career path. Besides that, I see many opportunities to be data analyst in a various of industry.*

In [ ]:
M=5
F=3
H=M*F
print(H)

15


Menu Recommendation for Birthday Party
1.   Koktel buah
2.   Iced lemon tea
3. Dadih blueberry

*   Makaroni goreng
*   Fries
*   Nugget
*   Sausage

![download (4).jpeg]()

In [ ]:
import pandas as pd
df=pd.read_csv('custcat.csv')
df.head(15)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2
7,2,38,35,0,5,76.0,2,10,0.0,0,3,4
8,3,45,59,1,7,166.0,4,31,0.0,0,5,3
9,1,68,41,1,21,72.0,1,22,0.0,0,3,2
10,2,5,33,0,10,125.0,4,5,0.0,1,1,1
11,3,7,35,0,14,80.0,2,15,0.0,1,1,3
12,1,41,38,1,8,37.0,2,9,0.0,1,3,1
13,2,57,54,1,30,115.0,4,23,0.0,1,3,4
14,2,9,46,0,3,25.0,1,8,0.0,1,2,1